# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Secrets
.env*
!.env*.example
terraform.tfvars

# Testing
coverage

# Caching
.terraform
.turbo
.vercel
terraform.tfstate
terraform.tfstate.backup

# Build Output
.next/
out/
build
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
