{
    "$schema": "https://json.schemastore.org/prettierrc",
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-packagejson",
        "prettier-plugin-jsdoc"
    ],
    "importOrder": [
        ".css$",
        "",
        "<TYPES>",
        "<TYPES>^[.]",
        "",
        "^react$",
        "<THIRD_PARTY_MODULES>",
        "",
        "^~/",
        "^@/",
        "^[.][.]/",
        "^[.]/"
    ],
    "importOrderParserPlugins": ["typescript", "jsx"],
    "importOrderTypeScriptVersion": "5.5.4",
    "tsdoc": true,
    "overrides": [
        {
            "files": "*.jsonc",
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
